.main {
    display: flex;
    padding: 10px 8%;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    height: 650px;
}

.films {
    width: 800px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

#film-img {
    width: 300px;
    height: 300px;
    margin-top: 20px;
}


.genres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 40px;
    margin-top: 10px;
    font-size: 18px;
}
